segment_ba filter=lfs diff=lfs merge=lfs -text
segment_ab filter=lfs diff=lfs merge=lfs -text
segment_ao filter=lfs diff=lfs merge=lfs -text
segment_aw filter=lfs diff=lfs merge=lfs -text
segment_ae filter=lfs diff=lfs merge=lfs -text
segment_ag filter=lfs diff=lfs merge=lfs -text
segment_ap filter=lfs diff=lfs merge=lfs -text
segment_ay filter=lfs diff=lfs merge=lfs -text
segment_ac filter=lfs diff=lfs merge=lfs -text
segment_ad filter=lfs diff=lfs merge=lfs -text
segment_af filter=lfs diff=lfs merge=lfs -text
segment_ah filter=lfs diff=lfs merge=lfs -text
segment_al filter=lfs diff=lfs merge=lfs -text
segment_ar filter=lfs diff=lfs merge=lfs -text
segment_au filter=lfs diff=lfs merge=lfs -text
segment_az filter=lfs diff=lfs merge=lfs -text
segment_bb filter=lfs diff=lfs merge=lfs -text
segment_bd filter=lfs diff=lfs merge=lfs -text
segment_as filter=lfs diff=lfs merge=lfs -text
segment_at filter=lfs diff=lfs merge=lfs -text
segment_ax filter=lfs diff=lfs merge=lfs -text
segment_aa filter=lfs diff=lfs merge=lfs -text
segment_ai filter=lfs diff=lfs merge=lfs -text
segment_an filter=lfs diff=lfs merge=lfs -text
segment_aj filter=lfs diff=lfs merge=lfs -text
segment_ak filter=lfs diff=lfs merge=lfs -text
segment_am filter=lfs diff=lfs merge=lfs -text
segment_aq filter=lfs diff=lfs merge=lfs -text
segment_av filter=lfs diff=lfs merge=lfs -text
segment_bc filter=lfs diff=lfs merge=lfs -text
segment_be filter=lfs diff=lfs merge=lfs -text
